// SCRIPTS
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
//- script(type='text/javascript', src='./js/flat-ui.min.js')

//- ===================================
//- 		PHASER
//- ===================================

script(type='text/javascript', src='./js/phaser.min.js')

//- END PHASER

//- where your custom scripts file is always last
block scripts
	script(type='text/javascript', src='./js/scripts.js')